<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>JRuteros</title>
<!-- jQuery y sus css -->
<link href="./resources/js/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript"	src="./resources/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript"	src="./resources/js/jquery-ui-1.11.4.custom/jquery-ui.js"></script>

<!-- iconos  -->
<link href="./resources/fonts/css/font-awesome.min.css" rel="stylesheet">
<link href="./resources/fonts/css/font-awesome.min.css" rel="stylesheet">

<!-- Bootstrap CSS -->
<link href="./resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="./resources/css/fronted.css" rel="stylesheet">

<!-- Bootstrap JS -->
<script	src="./resources/bootstrap/js/bootstrap.min.js"></script>

<link href="./resources/css/registro.css" rel="stylesheet">
<link href="./resources/css/nuevaRuta.css" rel="stylesheet">

<!-- mapa -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script type="text/javascript"	src="./resources/js/configuracionmap.js"></script>
</head>
<body onload="inicializarRegistroViaje()">

<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
			data-toggle="collapse" data-target="#navbar" aria-expanded="false"
			aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand aLogo" href="#"><div class="logo"></div></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="altaRuta"><span class="fa fa-plus" aria-hidden="true"> </span>Ruta Nueva</a>
				</li>
				<li>
					<a href="#"><span class="fa fa-search" aria-hidden="true"> </span>Buscar una Ruta</a>
				</li>
				<li>
					<a href="listarRutasUsuario"><span class="fa fa-road" aria-hidden="true"> </span>Mis Rutas</a>
				</li>				
			</ul>
			<ul class="nav navbar-nav navbar-right ">
				<li>
					<a href="#"><span class="fa fa-user" aria-hidden="true"> </span> Nombre Usuario</a>
				</li>
				<li>
					<a href="#" class="dropdown-toggle"	role="button" aria-haspopup="true" aria-expanded="false"> 
						<img class="img-perfil" src="#" alt="Foto Perfil">
					</a>
				</li>
				<li><a href="logout" class="salir">Salir</a></li>
			</ul>
		</div>
	</div>	
</nav>

<div class="container">
		
		
		<form class="">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-2">
						<div class="form-group">
							<div clas="row">
								<label>Subi fotos de la ruta!</label>
							</div>
							<ul class="columImg">
								<li>				
									<a class="imagen">
										<div class="cargarImagen">
											<input type="file" class="file">
										</div>
									</a>
								</li>
								<li>
									<a class="imagen">
										<div class="cargarImagen">
											<input type="file" class="file">
										</div>
									</a>
								</li>
								<li>
									<a class="imagen">
										<div class="cargarImagen">
											<input type="file" class="file">
										</div>
									</a>
								</li>
							</ul>				
						</div>
					</div>
					<div class="col-md-5">
						<fieldset class="fieldSetNuevaRuta">
							<legend>Informacion General</legend>
							<div class="row center ">
								<div class="form-group">
									<div class="row">
										<label for="nombre">Dele un nombre a su ruta!</label>
									</div>
									<div>
										<input type="text" placeholder="Nombre" id="nombre">
									</div>	
								</div>
							</div>
							<div class="row center ">
								<div class="form-group">
									<div class="row">
										<label for="descripcion">Comentá un poco sobre su viaje</label>
									</div>
									<div>
										<textarea  type="text" placeholder="Descripción" id="descripcion"></textarea>
									</div>	
								</div>
							</div>
						</fieldset>
						<fieldset class="fieldSetNuevaRuta">
							<legend>Fechas</legend>
							<div class="row  center">
								<div class="form-group ">
									<div class="row">
										<label>Tiempo estimado</label>
									</div>
									<div>
										<input type="text"  name="timepo" placeholder="hrs:mins" pattern="^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$">
									</div>							
								</div>
								<div class="form-group">
									<div class="row">
										<label>¿Qué día es el viaje?</label>
									</div>
									<div>
										<input placeholder="Fecha del viaje" type="text" name="fecha" id="fecha" >
									</div>						
									
								</div>
							</div>
						</fieldset>
					</div>
					<div class="col-md-5">
						<fieldset class="fieldSetNuevaRuta">
							<legend>Caracteristicas</legend>
							<div class="row center">
								<div class="form-group">
									<div>
										<label>Indicá Actividad</label>
									</div>
									<div>
										<select>
											<option>Mountain bike</option>
											<option>Ciclismo</option>
											<option>Cicloturismo</option>
											<option>Senderismo</option>
											<option>Alpinismo</option>
											<option>Motociclismo</option>
											<option>Cuatriciclo</option>
											<option>Esquí</option>
											<option>Kayac</option>
											<option>Vela</option>
											<option>A caballo</option>			
										</select>
									</div>
								</div>
								<div class="form-group ">
									<div>
										<label>Indicá la dificultad</label>
									</div>
									<div>
										<select>
											<option>Facil</option>
											<option>Moderado</option>
											<option>Dificil</option>
											<option>Muy Dificil</option>
											<option>Solo expertos</option>
										</select>
									</div>						
								</div>
								
								<div class="form-group ">
									<div>
										<label>¿Querés una ruta privada?</label>
									</div>
									<div>
										<input class="privacidadRuta" id="privada" type="radio" name="rutaTipo" value="privada">
										<label for="privada" title="privada"><i class="fa fa-lock"></i></label>
										<input class="privacidadRuta" id="publica" type="radio" name="rutaTipo" value="publica">
										<label for="publica" title="publico"><i class="fa fa-unlock"></i></label>
									</div>			
								</div>
								<div class="form-group">
									<div>
										<label>¿Es un viaje de ida o circular?</label>
									</div>
									<div>
										<input class="formatoRuta" id="ida" type="radio" name="viajeForma" value="ida">
										<label for="ida" title="solo de ida"><i class="fa fa-level-up"></i></label>
										<input class="formatoRuta" id="circular" type="radio" name="viajeForma" value="circular">
										<label for="circular" title="circular"><i class="fa fa-refresh"></i></label>
									</div>						
								</div>
							</div>
							<div class="row center">
								<div class="form-group ">
									<div class="row">
										<label>¿Cúantos km son?</label>
									</div>
									<div>
										<input type="number">
									</div>							
								</div>								
							</div>
						</fieldset>
					</div>								
				</div>
			</div>
			<div class="row">		
				<div class="col-md-12">
					<div id="map-canvas" style="height: 500px"></div>
				</div>
			</div>
			<input type="submit" value="Agregar">
		</form>		
	</div>
	
	<footer class="footer">
	<p>&#169; Java y Aplicaciones Avanzadas en Internet | 2016</p>
	</footer>
	<script type="text/javascript">
		$(function() {
			$('#fecha').datepicker();
		});
	</script>
</body>
</html>