.formBusqueda{
	text-align: center;
	background: #37454d;
    padding: 10px;
}
.formBusqueda input, .formBusqueda select{
	height: 50px;
}
.busquedaFecha{
	line-height: inherit !important;
}
.buscarNombre{
	width: 70% !important;
	border-radius: 0px;
}
.buscarNombreInput{
	padding:0px;
	width:100%;
	border:none;
	height: auto !important;
}
.left{
	text-align: left;
}
.segundaFila{
	width: 50%;
	margin-right: 2%;
}
.floatLeft{
	float:left;
}
.selectBusqueda{
	width:100%;
}
.fechaBusqueda{
	height: auto !important;
	border: none;
	width: 100%;
	padding: 0px;
}
.selectBusqueda{
	width: 100%;
	height: 30px !important;
	border: none;
}
.divFechaBusquedaArriba{
	margin-right: 4%;
}
.divFechaBusqueda, .divFechaBusquedaArriba{
	background: white;
	width: 48%;
	float: left;
	height: 50px;
}
.labelFechaBusqueda{
	width: 100%;
	font-size: 12px;
	margin-bottom: 0px;
}
.botonBuscar{
	width: 30%;
	border-radius: 0px;
	border-left: 0px;
    font-size: 14px;
    font-weight: 700;
    background-color: #007fad;
    color: #fff;
    cursor: pointer;
    outline: 0;
}
.busquedaArriba{
	margin-bottom: 10px;
}
section{
	padding: 12px 5px 10px;
	border-top: 1px solid #cdd0d2;
    position: relative;
}
.contenedor{
	border: 1px solid #cdd0d2;
	border-radius: 5px;
}
.menuFiltros{
	border-bottom: 0;
    color: #007fad;
    line-height: 45px;
    text-align: center;
    font-weight: 700;
}
.resultados{
	margin-top:20px;
}
.img{
	height:150px;
	margin-top:10px;
	margin-left:10px;
}
.unaRuta{
	height:170px;
}
.borderBottom{
	border-bottom:1px solid #cdd0d2;	
}
.tamanioLetra{
	line-height: 30px;
    font-size: large;
}
.paddingTop{
	padding-top: 10px;
}
.ordenar{
	margin-bottom: 10px;
}
.calificacion {
  direction: rtl;
}
.calificacion > .radioCalificacion:checked ~ label,
.calificacion > .radioCalificacion:checked ~ label:before {
   color: orange;
}
/* .radioCalificacion:checked ~ label:before { */
/*   color: orange; */
/* } */
.radioCalificacion {
  display: none;
}